.bg-img {
  position: relative;
  min-height: 120px;
  top: 0;
  left: 0;
  /* border: 1px red solid; */
}

.profile-photo {
  position: relative;
  margin-top: 4vw;
  width: 124px;
  height: 124px;

  border: 1.5px solid lightgrey;
  border-radius: 50%;
}
.card-body {
  min-height: 240px;
  flex: 1 1 auto;
}
.author {
  text-align: center;
  text-transform: none;
  margin-top: -77px;
}
.name {
  color: #51cbce;
  font-size: 1.57em;
  line-height: 1.4em;
  text-align: center;
  margin-left: 8px;
  font-weight: 700;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  width: 100%;
}
.id {
  text-align: center;
  color: #9a9a9a;
  margin-top: -30px;
  margin-bottom: 0cm;
}
.quote {
  text-align: center;
  color: #9a9a9a;
  margin-top: -20px;
}

.name:hover {
  text-decoration: underline;
}
.md-col-3 {
  margin: 10px 0px 20px 0px;
  line-height: 1.2em;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  color: #252422;
  font-size: 1.2em;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
