.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px 0px;
  border-bottom: solid 1px rgba(61, 61, 61, 0.3);
}
.search-label {
  position: relative;
}

.search-label:before {
  content: "";
  position: absolute;
  left: 170px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("../images/search.svg") center / contain no-repeat;
}

input {
  padding: 5px 10px 13px 13px;
  border: none;
  outline: hidden;
  background-color: rgba(222, 222, 222, 0.3);
}
.nav-btn {
  background-color: #f4f3ef; /* Green */
  border: none;
  color: white;
  padding: 0px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
